* {
  font-family: "Cabin", sans-serif;
}

.createCard {
  width: 1112px;
  height: 518px;
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  margin: 50px 80px 50px 100px;
}

.formContainer {
  display: flex;
}

.cardHead {
  height: 87px;
  font-weight: bold;
  background-color: #ce770f;
  color: white;
  padding: 20px 0px 0px 20px;
}

.leftContainer {
  margin: 70px 0px 90px 60px;
}

.rigthContainer {
  margin: 50px 0px 30px 50px;
}

/*inputs */
.input-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Text inputs */
.inputGroupName {
  width: 333px;
  height: 58px;
  border: white solid 2px;
}

.inputGroupClassification {
  width: 333px;
  height: 58px;
  border: white solid 2px;
}

.inputGroupEmergency {
  width: 572px;
  height: 262px;
  border: white solid 2px;
}

/* name inputs */
.spanName {
  background-color: #f6ae59;
  width: 333px;
  height: 46px;
}

.spanClassification {
  background-color: #f6ae59;
  width: 333px;
  height: 46px;
}

.spanEmergency {
  background-color: #f6ae59;
  width: 572px;
  height: 58px;
}

.buttonReset, .buttonCancel, .buttonCreate {
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  background-size: auto;
  background-color: #f6ae59;
  border: 2px #f6ae59 solid;
  padding: 0px 0px 0px 0px;
}

.buttons {
  display: flex;
}